*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: Arial, sans-serif;
    background-color: #F4F7E6;
    scroll-behavior: smooth;
}

/* ------------------------------------------------------ Menu fixo BiMO e Menu Lateral------------------------------------------------------- */
.menu {
    display: flex;
    position: fixed;
    width: 100%;
    height: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #2176ae;
    z-index: 1000;
}

.menu-items{
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 150%;
    color: #F4F7E6;
    list-style-type: none;
    font-weight: bold;
    cursor: pointer;
    padding: 0 15px;
}

.menu-items .links {
    color: #F4F7E6;
    cursor: pointer;
    margin-left: 20px;
}

.menu-items .links a {
    color: #F4F7E6;
    text-decoration: none;
}

.menu-items .links:hover{
    color: #69DF1B;
}

.menu-items .links a:hover{
    color: #69DF1B;
}

#icon{
    max-width: 10%;
    height: auto;
    cursor: pointer;
}

.menu-icon {
    display: none;
    color: white;
    font-size: 30px;
    padding: 1%;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

/* ------------------------------------------------------- Tela com imagem -------------------------------------------------------- */
.inicio{
    display: flex;
    background: linear-gradient(to left,#2CFC71,#2176ae);
    border-bottom: 5px solid #2CFC71;
    color: #F4F7E6;
    font-size: 250%;
    width: 100%;
    height: 80vh;
    margin-top: 4%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
}

.inicio p{
    line-height: 1.6;
}

.iniciobimo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-left: 12%;
    margin-top: 10%;
}

.iniciobimo p{
    text-align: start;
}

#textoimg{
    display: flex;
}

#iconiniciobimo{
    width: 25%;
    margin-left: 2%;
}

#butinicio{
    margin-top: 4%;
    border-radius: 30px;
    width: 180px;
    height: 40px;
    background: linear-gradient(to right,#2CFC71,#2176ae);
    color: #F4F7E6;
    border: 2px solid #F4F7E6;
    cursor: pointer;
    display: flex;
    margin-right: 20%;
}

#divimginicio{
    display: flex;
    width: 40%;
    height: 60vh;
    justify-content: start;
    align-items: center;
}

#imginicio{
    max-width: 90%;
    padding-left: 10%;
    margin-top: 25%;
}

#texto{
    display: flex;
    width: 30%;
    padding-top: 2%;
    font-size: 70%;
    margin-right: 30%;
    margin-left: 40%;
    margin-top: 2.5%;
}

#quadrado{
    width: 35px;
    height: 35px;
    background-color: #2CFC71;
    transform: rotate(45deg);
    z-index: -1;
}

@media screen and (max-width: 960px) {
    .inicio{
        margin-top: 76px;
        font-size: 130%;
        height: 320px;
        background: linear-gradient(to top, #2176ae,#2CFC71);
    }

    .iniciobimo p{
        width: 180%;
        margin-right: 20%
    }

    #iconiniciobimo{
        width: 30%;
        height: 5vh;
        margin-left: 5%;
    }

    #butinicio{
        margin-top: 10%;
    }

    #divimginicio{
        display: none;
    }

    #imginicio{
        display: none;
    }

    #texto{
        justify-content: center;
        align-items: end;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        font-size: 100%;
    }

    #quadrado{
        position: relative;
        top: 8px;
        width: 20px;
        height: 20px;
    }
}

/* ------------------------------------------------- Texto explicando sobre o BiMO ----------------------------------------------*/
#o-que-e{
    display: flex;
    justify-content: center;
}

#textobimo{
    margin-top: 0.5%;
    width: 50%;
    text-align: center;
    font-size: 120%;
}

#butbimo{
    margin-top: 4%;
    border-radius: 30px;
    width: 180px;
    height: 40px;
    background: linear-gradient(to right,#2CFC71,#2176ae);
    color: #F4F7E6;
    border: 2px solid #F4F7E6;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    #textobimo{
        width: 85%;
        margin-top: 4%;
    }

    #butbimo{
        width: 240px;
        height: 50px;
        font-size: 100%;
        margin-top: 5%;
    }
}

/* ---------------------------------------------------- Como funciona o BiMO --------------------------------------------------------- */
#como-funciona{
    text-align: center;
    margin-top: 10%;
    font-size: 150%;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 2%;
    margin-bottom: 8%;
    position: relative;
}

.funcoes{
    text-align: center;
    width: 20%;
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease;
    font-size: 70%;
}

.funcoes:hover {
    transform: translateY(-10px);
}

.circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 20px;
    z-index: 1;
}

.funcoes .verde {
    background-color: #76d700;
}

.funcoes .azul {
    background-color: #00b4ff;
}

.linha {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black;
    z-index: 0;
}

@media screen and (max-width: 960px) {
    .funcoes{
        width: 70%;
        margin-top: 6%;
        padding: 2%;
        border-radius: 20px;
    }

    .funcoes .verde{
        display: none;
    }

    .funcoes .azul{
        display: none;
    }

    .funcoes:nth-child(2n + 1){
        background-color: #2CFC71;
    }

    .funcoes:nth-child(2n){
        background-color: #00b4ff;
    }
}

/* -------------------------------------------------------- Nossos serviços --------------------------------------------------------- */
#servicos-bimo{
    text-align: center;
    font-size: 150%;
}

@media screen and (max-width: 960px) {
    #servicos-bimo{
        margin-top: 15%;
        font-size: 120%;
    }
}

.caixas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.servicos{
    max-width: 400px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    margin: 2%;
    text-align: center;
    padding-bottom: 1%;
    font-size: 70%;
}

@media screen and (max-width: 960px) {
    .caixas{
        gap: 20px;
    }

    .servicos{
        padding-bottom: 4%;
    }
}

#imgservicos{
    width: 100%;
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#butservicos{
    color: #F4F7E6;
    background-color: #2176ae;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-top: 4%;
    border: #69DF1B 3px solid;
    cursor: pointer;
}

.servicos h2{
    padding-top: 3%;
    font-weight: bold;
}

.servicos p{
    padding-top: 3%;
}

/* --------------------------------------------------------- Nossos planos ----------------------------------------------------------- */
#planos-bimo h1{
    display: flex;
    justify-content: center;
    margin-top: 7%;
    font-size: 220%;
}

#infoplanos{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.tabela-planos{
    width: 70%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    font-size: 20px;
    text-align: left;
}

th, td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: center;
}

tbody td{
    font-weight: bold;
}

/* @media screen and (max-width: 960px) {
    #infoplanos{
        background-color: red;
    }

    .tabela-planos{
        width: 50%;
    }
} */

thead th:nth-child(2) {
    color: #c67838;
}

thead th:nth-child(3) {
    color: #c0c0c0;
}

thead th:nth-child(4) {
    color: #ffcc00;
}

tbody td:nth-child(2) {
    color: #c67838;
    font-weight: bold;
}

tbody td:nth-child(3) {
    color: #c0c0c0;
    font-weight: bold;
}

tbody td:nth-child(4) {
    color: #ffcc00;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #D9D9D9;
}

tbody tr:nth-child(even) {
    background-color: white;
}

#nossos-planos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    max-width: 320px;
    padding-bottom: 2%;
    border-radius: 20px;
    margin: 4%;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    background-color: #EAE9E9;
}

.card h1{
    font-size: 200%;
}

.card h1, .card h3{
    margin: 8%;
}

.bronze span{
    color: #c67838;
}

.prata span{
    color: #c0c0c0;
}

.ouro span{
    color: #ffcc00;
}

.card .borda{
    height: 15px;
}

.bronze .borda{
    background-color: #c67838;
}

.prata .borda{
    background-color: #c0c0c0;
}

.ouro .borda{
    background-color: #ffcc00;
}

.planos{
    padding: 0 20px;
    text-align: center;
}

#butplanos{
    color: #F4F7E6;
    width: 100px;
    height: 25px;
    border-radius: 30px;
    margin-top: 10%;
    cursor: pointer;
}

.bronze #butplanos{
    background-color: #c67838;
}

.prata #butplanos{
    background-color: #c0c0c0;
}

.ouro #butplanos{
    background-color: #ffcc00;
}

@media screen and (max-width: 960px) {
    .tabela-planos{
        width: 90%;
        font-size: 100%;
    }
}

/* -------------------------------------------------------- Nossa equipe ------------------------------------------------------------- */
#nossa-equipe{
    text-align: center;
    margin-top: 5%;
    font-size: 150%;
}

.caixasequipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4%;
}
 
.equipe{
    width: 220px;
    height: 240px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    font-size: 70%;
    text-align: center;
    position: relative;
    margin: 3%;
    transition: transform 0.3s ease;
}

.equipe p{
    padding: 5%;
    margin-top: 15%;
}

.equipe:hover{
    transform: translateY(-10px);
}

.image{
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-46%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caixasequipe .azul{
    background-color: #00b4ff;
}

.caixasequipe .verde{
    background-color: #2CFC71;
}

@media screen and (max-width: 960px) {
    .caixasequipe{
        gap: 30px;
        margin-top: 13%;
        margin-bottom: 8%;
        width: 95%;
    }

    .equipe{
        margin: 0;
        margin-bottom: 8%;
        margin-top: 6%;
    }
}


/* -------------------------------------------------------- Menu final da tela ----------------------------------------------------- */
#final {
    text-align: center;
    padding: 20px;
    margin-top: 5%;
    color: white;
    background-color: #2176ae;
    align-content: center;
}

#final h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.redessociais {
    display: inline-block;
    text-align: left;
    margin-left: 10%;
}

.redessociais h2 {
    font-size: 1.5rem;
    margin-bottom: 10%;
}

.redessociais a{
    color: #F4F7E6;
    text-decoration: none;
    font-size: 130%;
}

.redessociais a:hover{
    color: #69DF1B;
}

#instagram, #email {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#iconinstagram, #iconemail {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#instagram p, #email p {
    margin: 0;
}

#empresa {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left: 10%;
}

#empresa h2 {
    font-size: 1.5rem;
    margin-bottom: 2%;
}

#imgkyndred {
    width: 50%;
}

@media screen and (max-width: 960px) {
    .redessociais{
        text-align: center;
        margin-left: 0;
        margin-bottom: 6%;
    }

    .redessociais h2{
        margin-bottom: 6%;
    }

    #empresa{
        margin-left: 0;
    }
}

/* -------------------------------------------------------- Media Queries ---------------------------------------------------------- */
@media screen and (max-width: 960px) {
    .menu {
        justify-content: space-between;
        height: 70px;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        background-color: #2176ae;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .menu-items .links {
        margin: 15px 0;
        padding: 4%;
        width: 50%;
        text-align: start;
    }

    #checkmenu:checked ~ .menu .menu-items {
        transform: translateX(0);
    }

    .menu-icon {
        display: block;
    }

    .menu img {
        margin-left: 20px;
    }

    .cards {
        flex-direction: column;
    }

    .linha {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    
}