*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    user-select: none;
}

body{
    font-family: Arial, sans-serif;
    background-color: #F4F7E6;
    scroll-behavior: smooth;
}

h1{
    text-align: center;
}
/* ------------------------------------------------------ Menu fixo BiMO e Menu Lateral------------------------------------------------------- */
.menu {
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    padding-top: 1%;
    padding-bottom: 1%;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #2176ae;
    z-index: 1000;
}

.menu-items{
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 150%;
    color: #F4F7E6;
    list-style-type: none;
    font-weight: bold;
    cursor: pointer;
    padding: 0 15px;
}

.menu-items .links {
    color: #F4F7E6;
    cursor: pointer;
    margin-left: 20px;
}

.menu-items .links a {
    color: #F4F7E6;
    text-decoration: none;
}

.menu-items .links:hover{
    color: #69DF1B;
}

.menu-items .links a:hover{
    color: #69DF1B;
}

#icon{
    width: 150px;
    margin-left: 40px;
    height: auto;
    cursor: pointer;
}

.menu-icon {
    display: none;
    color: white;
    font-size: 30px;
    padding: 1%;
    cursor: pointer;
}

#butmenu{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
/* -------------------------------------------------------- MENU LATERAL -------------------------------------------- */
.hamb{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#menuHamb{
    flex-direction: column;
    background-color: #F9A400;
    width: 100vw;
    height: 100vh;
    margin-top: 80px;
    padding-top: 1px;
    color: white;
    display: none;
    z-index: 999;
}

#menuHamb > a{
    display: flex;
    justify-content: center;
}

.cont{
    height: 10vh;
}

.fechado{
    display: block;
    width: 20px;
    margin: 20px;
}

.hamb-conta{
    display: flex;
    height: 10vh;
    width: 50vw;
    background-color: #FFCC68;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 4px white solid;
    padding: 0px 5vw;
    font-size: 20px;
    font-weight: 550;
}

.hamb-conta > img{
    margin-left: 2vh;
    width: 8vh;
    height: 8vh;
}

.hamb-redirect{
    float: left;
    width: 100%;
    height: auto;
    margin: 3vh 0vh;
    padding: 2vh;
    border-bottom: 2px solid white;
}

.hamb-redirect > p{
    width: 100%;
    font-size: 5vh;
    font-weight: 500;
    display: inline-block;
}

.hamb-redirect > p > img{
    display: inline-block;
    width: 5vh;
}

#menuHamb:target ~ * {
    display: none;
}
  
#menuHamb:target ~ header {
    display: block;
}

#menuHamb:target {
    display: block;
}
/* ------------------------------------------------------- Tela com imagem -------------------------------------------------------- */
.inicio{
    display: flex;
    background: linear-gradient(to left,#2CFC71,#2176ae);
    /* border-bottom: 5px solid #2CFC71; */
    color: #F4F7E6;
    font-size: 270%;
    width: 100%;
    height: 90vh;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 1%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
}

.inicio p{
    line-height: 1.4;
}

.iniciobimo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-left: 12%;
    margin-top: 2%;
}

.iniciobimo p{
    text-align: start;
}

#textoimg{
    display: flex;
    width: 600px;
}

#iconiniciobimo{
    width: 150px;
    margin-left: 20px;
}

#butinicio{
    margin-top: 4%;
    border-radius: 30px;
    width: 180px;
    height: 40px;
    background: linear-gradient(to right,#74ee9d,#2176ae);
    color: #F4F7E6;
    border: 2px solid #F4F7E6;
    cursor: pointer;
    display: flex;
    margin-right: 20%;
}

#divimginicio{
    display: flex;
    width: 40%;
    height: 60vh;
    justify-content: start;
    align-items: center;
}

#imginicio{
    max-width: 90%;
    padding-left: 10%;
    margin-top: 25%;
}

#quadrado{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #2CFC71;
    transform: rotate(45deg);
    z-index: -1;
    margin-top: 580px;
}
/* ---------------------------------------------------- Como funciona o BiMO --------------------------------------------------------- */
.propagandacm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 85vh;
    background-color: white;
    font-size: 110%;
}

#textocm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    line-height: 1.3;
    font-size: 130%;
}

#textocm p{
    margin-top: 40px;
    margin-bottom: 30px;
}

#imgcm img{
    width: 300px;
}

@media screen and (max-width: 960px) {
    .propagandacm{
        height: 50vh;
    }

    #textocm{
        width: 90%;
        font-size: 90%;
    }

    #imgcm{
        display: none;
    }
}
/* -------------------------------------------------------- Nossos serviços --------------------------------------------------------- */
.propagandaservicos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: #74ee9d;
}

#imgpservicos img{
    width: 280px;
}

#textoservicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 65%;
    line-height: 1.3;
    font-size: 130%;
}

#textoservicos p{
    margin-top: 40px;
    margin-bottom: 30px;
}

#buttextoservicos{
    background-color: white;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .propagandaservicos{
        height: 60vh;
    }

    #textoservicos{
        width: 90%;
        font-size: 90%;
    }

    #imgpservicos{
        display: none;
    }
}
/* --------------------------------------------------------- Nossos planos ----------------------------------------------------------- */
.propagandaplanos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: white;
    font-size: 110%;
    margin-bottom: 100px;
}

#textoplanos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    line-height: 1.3;
    font-size: 120%;
}

#textoplanos p{
    margin-top: 40px;
    margin-bottom: 30px;
}

#buttextoplanos{
    background-color: #74ee9d;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

#imgplanos img{
    width: 280px;
}

@media screen and (max-width: 960px) {
    .propagandaplanos{
        height: 70vh;
    }

    #textoplanos{
        width: 90%;
        font-size: 90%;
    }

    #imgplanos{
        display: none;
    }
}
/* -------------------------------------------------------- Nossa equipe ------------------------------------------------------------- */
#nossa-equipe {
    text-align: center;
    font-size: 150%;
}

input[type="radio"] {
    display: none;
}

.equipecarrossel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    position: relative;
    width: 40%;
    margin-top: 30px;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.equipe {
    min-width: 100%;
    height: 50vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.eazul {
    background-color: #008dbbb7;
}

.everde {
    background-color: #80cc35;
}

.image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.navigation {
    margin-top: 20px;
}

.arrow {
    color: #F4F7E6;
    background-color: #008dbbb7;
    border: 4px solid;
    font-size: 70px;
    margin: 80px;
    border-radius: 50%;
    width: 90px;
    cursor: pointer;
    display: none;
}

.arrow:hover{
    color: #008dbbb7;
    background-color: #F4F7E6;
    border-color: #2176ae;
}

@media screen and (max-width: 960px) {
    .carousel-container{
        width: 100%;
        margin-top: 0;
    }

    .equipe{
        height: 65vh;
    }

    .arrow{
        width: 30px;
        font-size: 20px;
        margin: 0;
    }
}

/* Estilos para controlar a exibição dos cards */
#card1:checked ~ .carousel-container .carousel {
    transform: translateX(0);
}

#card2:checked ~ .carousel-container .carousel {
    transform: translateX(-100%);
}

#card3:checked ~ .carousel-container .carousel {
    transform: translateX(-200%);
}

#card4:checked ~ .carousel-container .carousel {
    transform: translateX(-300%);
}

#card5:checked ~ .carousel-container .carousel {
    transform: translateX(-400%);
}

#card6:checked ~ .carousel-container .carousel {
    transform: translateX(-500%);
}

#card7:checked ~ .carousel-container .carousel {
    transform: translateX(-600%);
}

#card8:checked ~ .carousel-container .carousel {
    transform: translateX(-700%);
}

#card9:checked ~ .carousel-container .carousel {
    transform: translateX(-800%);
}

#card10:checked ~ .carousel-container .carousel {
    transform: translateX(-900%);
}

#card11:checked ~ .carousel-container .carousel {
    transform: translateX(-1000%);
}

/* Controle para setas de navegação cíclica */
/* Mostrar as setas corretas dependendo do card ativo */
#card1:checked ~ .navigation .prev[for="card11"],
#card1:checked ~ .navigation .next[for="card2"],
#card2:checked ~ .navigation .prev[for="card1"],
#card2:checked ~ .navigation .next[for="card3"],
#card3:checked ~ .navigation .prev[for="card2"],
#card3:checked ~ .navigation .next[for="card4"],
#card4:checked ~ .navigation .prev[for="card3"],
#card4:checked ~ .navigation .next[for="card5"],
#card5:checked ~ .navigation .prev[for="card4"],
#card5:checked ~ .navigation .next[for="card6"],
#card6:checked ~ .navigation .prev[for="card5"],
#card6:checked ~ .navigation .next[for="card7"],
#card7:checked ~ .navigation .prev[for="card6"],
#card7:checked ~ .navigation .next[for="card8"],
#card8:checked ~ .navigation .prev[for="card7"],
#card8:checked ~ .navigation .next[for="card9"],
#card9:checked ~ .navigation .prev[for="card8"],
#card9:checked ~ .navigation .next[for="card10"],
#card10:checked ~ .navigation .prev[for="card9"],
#card10:checked ~ .navigation .next[for="card11"],
#card11:checked ~ .navigation .prev[for="card10"],
#card11:checked ~ .navigation .next[for="card1"] {
    display: inline-block;
}
/* -------------------------------------------------------- Menu final da tela ----------------------------------------------------- */
#final {
    text-align: center;
    padding: 20px;
    margin-top: 5%;
    color: white;
    background-color: #2176ae;
    align-content: center;
}

#final h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.redessociais {
    display: inline-block;
    text-align: left;
    margin-left: 10%;
}

.redessociais h2 {
    font-size: 1.5rem;
    margin-bottom: 10%;
}

.redessociais a{
    color: #F4F7E6;
    text-decoration: none;
    font-size: 130%;
}

.redessociais a:hover{
    color: #69DF1B;
}

#instagram, #email {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#iconinstagram, #iconemail {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#instagram p, #email p {
    margin: 0;
}

#empresa {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left: 10%;
}

#empresa h2 {
    font-size: 1.5rem;
    margin-bottom: 2%;
}

#imgkyndred {
    width: 50%;
}
/* -------------------------------------------------------- Media Queries ---------------------------------------------------------- */
@media screen and (max-width: 960px) {
    .menu {
        justify-content: space-between;
        height: 70px;
    }

    .menu-items{
        display: none;
    }

    #icon{
        width: 120px;
    }

    #butmenu{
        display: block;
    }

    .inicio{
        margin-top: 76px;
        font-size: 130%;
        height: 320px;
        background: linear-gradient(to top, #2176ae,#2CFC71);
    }

    .iniciobimo p{
        width: 180%;
        margin-right: 20%
    }

    #iconiniciobimo{
        width: 30%;
        height: 5vh;
        margin-left: 5%;
    }

    #butinicio{
        margin-top: 10%;
    }

    #divimginicio{
        display: none;
    }

    #imginicio{
        display: none;
    }

    .caixasequipe{
        gap: 30px;
        margin-top: 13%;
        margin-bottom: 8%;
        width: 95%;
    }

    .equipe{
        margin: 0;
        margin-bottom: 8%;
        margin-top: 6%;
    }

    .redessociais{
        text-align: center;
        margin-left: 0;
        margin-bottom: 6%;
    }

    .redessociais h2{
        margin-bottom: 6%;
    }

    #empresa{
        margin-left: 0;
    }
}